body{
	background: #FFFFFF;
}
.logo{
	padding-top: 45px;
	text-align: center;
}
.logo div{
	width: 193px;
	height: 42px;
	margin: 0 auto;
	/*background: url(../../images/logo.png) no-repeat;*/
	background: #C71B1E;
	background-size: 100% 100%;
}
.logo p{
	margin-top: 16px;
	font-size: 20px;
	color: #333333;
}
.login{
	padding: 58px 37px 0 37px;
	background: #FFFFFF;
}
.login .mui-input-group:before,.login .mui-input-group:after{
	background: transparent;
}
.login  .mui-input-group{
	padding-bottom: 25px;
}
.login .mui-input-group input{
	padding-left: 0;
	font-size: 15px;
}
.login .mui-input-group .mui-input-row label~input{
	width: 55%;
}
.login  .mui-input-group .mui-input-row:after{
	left: 0;
	right: 0;
}
.login  .mui-input-group .code label{
	float: right;
	height: 100%;
	padding: 0;
	background: rgba(216,216,216,0.54);
	text-align: center;
	line-height: 45px;
}
.login  .mui-input-group button{
	height: 44px;
	margin-top: 26px;
	background: #C71B1E;
	border-radius: 100px;
	font-size: 17px;
	color: #FFFFFF;
	letter-spacing: 1.42px;
	line-height: 14px;
}
.login .msgCode a{
	font-size: 15px;
	color: #666666;
	line-height: 15px;
}
.login .msgCode a:nth-of-type(1){
	color: #CE575A;
}
.findpsw .mui-input-group p{
	font-size: 12px;
	color: #999999;
	line-height: 15px;
	margin-top: 16px;
	text-align: justify;
}
.findpsw .mui-input-group .mui-input-row label~input{
	width: 50%;
	text-align: left;
}
.findpsw .mui-input-group .code label{
	font-size: 15px;
	color: #CE575A;
	letter-spacing: 1.25px;
	width: 50%;
	border-left: 1px solid #E4E4E4;
	height: 38px;
    line-height: 38px;
	margin: 6px 0;
	background: transparent;
}
