.hello{
	margin-left:20px;
}
.hell{
	/*padding-right:-15px;*/
}
.yd_radios{
	margin-bottom:0px;
	margin-top:0px;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
	border: 1px solid rgb(207, 218, 221)!important;
}
.form11{
	padding-bottom:10px;
}
.yd_flex{
	display:flex;
}
.yd_label{
	line-height:30px;
	padding-left:0;
	padding-right:5px;
	min-width:80px;
}
.yd_reset{
	margin-left:20px;
	margin-right:20px;
}
.yd_label2{
	width:11.66666667%;
}
.yd_label33{
	padding-left:0;
	padding-right:0;
	line-height:30px;
	min-width:80px;
}
.layer-date2{
	max-width:500px !important;
}
.yd_labell{
	padding-left:0;
	padding-right:0;
}
/*.yd_submit{*/
	/*height:30px;*/
/*}*/
/*.yd_table{
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;
}*/
/*.yd_table th,.yd_table tr td{
		text-align:center;
	}
.yd_table th:nth-child(1){
	min-width:100px;
}*/
.yd_form{
	margin-bottom:15px;
	margin-top:20px;
}
/*#DataTables_Table_0_length{
	display:none;
}
#DataTables_Table_0_filter{
	display:none;
}*/
.yd_state span{
	line-height:39px;
}
.yd_button button{
	margin-left:10px;
}
.yd_button span{
	/*margin-right:40px;*/
/*	color:#7266ba;*/
	font-size:14px;
}
.yd_button span .orderstatu{
	color:red;
	margin-right:20px;
}
/*.yd_nav{
	padding:0 20px;
}*/
.yd_orderinfo tr td:nth-child(odd){
	background-color:#f0f3f4;
	text-align:right;
	font-weight:bold;
}
.yd_orderinfo tr td:nth-child(even){
	text-align:left;
}
.yd_table_nav{
	text-align:left;
}
.yd_nav_nav{
	background-color:#696969;
	color:white;
	font-size:13px;
	font-weight:bold;
	padding:8px;
	transition:all 0.3s ease 0s;
}
.yd_zengzhi tr th{
	font-weight:700;
	text-align:center;
}
.yd_zengzhi tr td{
	font-weight:200;
	text-align:center;
}
.yd_flexx{
	display:flex;
	align-items:center;
}
.yd_customer2{
	padding:0;
}
.yd_order_first{
	margin-top:15px;
}
.yd_bt{
	color:red;
}
/*.table-responsive{
	overflow-x:scroll;
}*/
.yd_table tr th,.yd_table tr td{
	white-space: nowrap;
}
.yd_border_top{
	border-top:1px solid #e7eaec;
}
.yd_nav_nav{
	
}
.yd_worked{
	padding:5px 0 5px 15px;
}
.yd_tabble{
	margin-bottom:0;
}
.pagination{
	margin:0;
}
.yd_refresh,.yd_return{
	float:right;
	font-size:18px;
	color:#7266ba;
	cursor:pointer;
}
.yd_return{
	margin-right:15px;
}
.yd_operation{
	flex-direction: row-reverse;
	display:flex;
	overflow:hidden;
}
.yd_operation2 button{
	margin-right:10px;
}
.yd_menus{
	min-width:90px;
}
.yd_menus li{
	/*background:#7266ba;*/
	/*color:white;*/
}
.yd_menus li a{
	margin:0 !important;
	text-align:center;
}
.yd_button2{
	margin-right:15px;
}
.yderr{
	color:red;
	font-size:12px;
	line-height:12px;
}
table tr th,table tr td{
	text-align:center;
}
.yd_taable{
	padding:15px 15px 0 15px;
}
#toolbar button{
	margin-right:5px;
	border-radius:4px;
}
.yd_taable table:nth-child(first){
	background:black;
}
.yd_table2{
	padding:15px 20px 0 20px;
}
/*.yd_table{*/
	/*margin-top:15px;*/
/*}*/
.formGroup_bottom{
	margin-bottom:0;
}
.yd_formTop{
	margin-top:0;
}
.wrapper-content{
	padding:0 20px 0px 20px;
}
.table00{
	padding-top:10px;
}
.panel-body{
	padding:15px 15px 0 15px !important;
}
.smallOrder_bottom{
	margin-bottom:15px;
}
.select22{

	padding:0;
	display:block;                     /*内联对象需加*/
	/*word-break:keep-all;           !* 不换行 *!*/
	/*white-space:nowrap;          !* 不换行 *!*/
	/*!*overflow:hidden;               !* 内容超出宽度时隐藏超出部分的内容 *!*!*/
/*text-overflow:ellipsis;*/
}
.from-control22{
	height:30px;
	padding:0;
	display:block;                     /*内联对象需加*/
	/*word-break:keep-all;           !* 不换行 *!*/
	/*white-space:nowrap;          !* 不换行 *!*/
	/*!*overflow:hidden;               !* 内容超出宽度时隐藏超出部分的内容 *!*!*/
	/*text-overflow:ellipsis;*/
	border:1px solid #fff;
}
.from-control22 ul{
	border-radius:2px;
}
.yd_fianceTable{
	padding:0;
}
/* select特殊样式*/
.se_left{
	margin-left:3px;
}
.se_left2{
	margin-left:6px;
}
.se_right{
	margin-right:3px;
}
.se_right2{
	margin-right:6px;
}
/* select是否样式*/
.se_change{
	width:30%;
}
.pd_left{
	padding-left:3px;
}
.pd_right{
	padding-right:3px;
}
.yd_yd_time{
	background-color: #ffffff !important;
	cursor: default !important;
}
.btn{
	height:32px;
}
.yd_saveStatus{
	font-size:13px;
	color:#EB1001;
	margin-left:10px;
	font-weight:bold;
	 display:none;
}
.select33{
	height:100%;
}
.select33 ul{
	border-bottom:none !important;
}
.secondStatus{
	display:none;
}

.sendDepart{
	display: none;
}
.restOrder{
	display: none;
}