.addClassify {
	padding: 0 15px;
}

.addClassify>div.form-group {
	padding-left: 0;
}
div.insurancesClassify {
	text-align: center;
	overflow-y: auto;
	padding: 0;
}
div.insurancesClassify tr th {
	text-align: center;
}


/**弹窗层蒙版**/
.boxshaow{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	background: #131313;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
/**弹窗层蒙版**/
.select-insruance .row {
	width: 100%;
	height: 100%;
	padding: 15px 0 15px 15px;
	margin-left: -10px;
}

.logs {
	position: fixed;
	z-index: 30;
	left: 50%;
	top: 50%;
	height: auto;
	background-color: #fff;
	border-radius: 4px;
	z-index: 10000000;
}

.logs>p {
	margin: 15px 0 0 15px;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
}

.logs>a {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 50px;
	height: 50px;
	background: url(../img/tipBindClose.png) center no-repeat;
}
.select-insruance .logs{
	width: 421px;
}
.select-insruance .log{
	padding: 15px;
}
.select-insruance .log .table{
	min-width: 375px;
}
.select-insruance .log .table tr th,
.select-insruance .log .table tr td,
.select-insruance .submityd{
	text-align: center;
}
.yd_nav{
	padding: 0;
}
.traffic .log,.business .log{
	margin: 20px 15px;
}
.traffic .submityd div,.business .submityd div{
	text-align: center;
}
.traffic .log .laydate-icon,.business .log .laydate-icon{
	height: 30px;
}
