.setData .ibox-title{
    background: rgb(98,84,178);
    color: #FFFFFF;
}
.setData .ibox-title h5{
    font-size: 14px;
    margin-right: 30px;
}
.setData .ibox-content{
    border: 1px solid #e7eaec;
}
.setData .ibox-title .info{
    margin-top: -1.6px;
}
.setData .ibox-title span:nth-of-type(even){
    color: red;
}
.setData .tables .form-group{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}
.setData .tables .form-group label{
    padding-top: 6px;
    margin-right: 10px;
}
.setData .tables .form-group input{
    width: 50%;
    margin-right: 10px;
}
.setData .tables .form-group button{
    margin-bottom: 0;
}
.setData .table-responsive{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    height: 200px;
    border: 1px solid #e7eaec;
}
.setData .tables .row .grade{
    height: 200px;
}
.setData .table-responsive table tr th,
.setData .table-responsive table tr td{
    text-align: center;
    padding: 4.6px !important;
}
.setData .table-responsive table tr th div.th-inner{
    padding: 0;
}
.setData .tables .row .fixed-table-pagination{
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.fixed-table-pagination div.pagination {
     margin-top: 0px;
     margin-bottom: 0px;
}
.setData .fixed-table-pagination .dropdown-menu{
    left: 0;
}
.setData .fixed-table-pagination .dropdown-toggle{
    padding: 3px 10px;
}
.setData .pagination{
    margin: 0;
}
.setData .pagination>li>a{
    color: inherit;
}
.setData .tables .allot,.setData .undock .allot{
    text-align: right;
    margin-top: -37px;
}
.setData .tables .allot,.setData .undock .allot button,
.setData .undock .allot button{
    margin-bottom: -9px;
}
.setData .undock{
    margin-top: 5px;
}
.setData .undock .allot{
    margin-top: -9px;
}
.ibox-title {
    height: 30px;
    padding: 7px 15px 0px 15px;
}
.setDataContent{
    padding:7px 20px 25px 20px;
}