<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/reset.css" rel="stylesheet" />
		<link href="../../css/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/icons-extra.css" />
		<style>
			
			.mui-table-view-cell:after {
				height: 0px!important;
			}
			
			.mui-table-view-cell{
				height: 30px;
				padding: 5px 20px;
			}
			
			.mui-table-view-cell var {
				float: right;
				color: #212121;
			}
			.mui-table-view-cell:first-child{
				height: 38px;
				padding-top: 13px;
			}
			.mui-table-view-cell:last-child{
				height: 38px;
				padding-bottom: 13px;
			}
			.status{
				color: #C71B1E!important;
			}
			.mui-icon-plusempty{
				font-weight: 800;
				color:linear-gradient(-180deg, #E53A40 0%, #C71B1E 100%)!important;
			}
			
		</style>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-icon mui-icon-plusempty mui-pull-right" id="add_quotation"></a>
			<h1 class="mui-title" id="mui-title">商谈报价</h1>
		</header>

		<div class="mui-content" id="mui-content">
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll quotation-scroll">
					<script id='content-template' type="text/template">
						<% for(var i in quotationList){ var item=quotationList[i]; %>
							<div class="mui-card" id='mui-card-<%=item.code %>' data-code="<%=( item.code|| '&nbsp;&nbsp;') %>" 
								data-creationtime="<%=( item.creationtime|| '&nbsp;&nbsp;') %>" >
								<div class="mui-card-content">
									<ul class="mui-table-view mui-clearfix">
										<li class="mui-table-view-cell">
											报价单号<var id="name"><%=( item.code|| '&nbsp;&nbsp;') %></var>
										</li>	
										<li class="mui-table-view-cell">
											状态<var id="tel" class="status"><%=( item.status|| '&nbsp;&nbsp;') %></var>
										</li>
										<li class="mui-table-view-cell">
											报价时间<var id="intent_car"><%=( item.creationtime|| '&nbsp;&nbsp;') %></var>
										</li>
										<li class="mui-table-view-cell">
											总价 <var id="origin"><%=( item.totalPrice|| '&nbsp;&nbsp;') %></var>
										</li>
									</ul>
								</div>
							</div>	
						<% } %>
					</script>
				
					<!--<div class="mui-card" id="mui-card-YD00000006" data-code="YD00000006">
						<div class="mui-card-content">
							<ul class="mui-table-view mui-clearfix">
								<li class="mui-table-view-cell">
									报价单号<var id="name">OP0001</var>
								</li>
								<li class="mui-table-view-cell">
									状态<var id="tel" class="status">草稿</var>
								</li>
								<li class="mui-table-view-cell">
									报价时间<var id="intent_car">2018-09-03</var>
								</li>
								<li class="mui-table-view-cell">
									总价 <var id="origin">￥ 20万</var>
								</li>
		
							</ul>
						</div>
					</div>
		
					<div class="mui-card">
						<div class="mui-card-content">
							<ul class="mui-table-view mui-clearfix">
								<li class="mui-table-view-cell">
									报价单号<var id="name">OP002</var>
								</li>
								<li class="mui-table-view-cell">
									状态<var id="tel" class="status">草稿</var>
								</li>
								<li class="mui-table-view-cell">
									报价时间<var id="intent_car">2018-09-02</var>
								</li>
								<li class="mui-table-view-cell">
									总价 <var id="origin">￥ 21万</var>
								</li>
		
							</ul>
						</div>
					</div>-->
				</div>
			</div>	
		</div>
		

		

		<script src="../../js/mui.js"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/arttmpl.js"></script>
		<script src="../../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/select.data.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/car.data-3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/city.data-3.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			(function($, doc) {
				$.init({
					/*预加载详情页*/
				    preloadPages:[{
				    	id:'quotationDetail',
				    	url:'quotation_details.html'           
				  	}]
				});
				

				var aniShow = "pop-in";
				//只有ios支持的功能需要在Android平台隐藏；
				if(mui.os.android) {
					var list = document.querySelectorAll('.ios-only');
					if(list) {
						for(var i = 0; i < list.length; i++) {
							list[i].style.display = 'none';
						}
					}
					//Android平台暂时使用slide-in-right动画
					if(parseFloat(mui.os.version) < 4.4) {
						aniShow = "slide-in-right";
					}
				}
				var detailPage = null;
				var oppoCode = "";
				var type = "";
				var typeCode = ""; 
				var name = "";
				var mobile = "";
//				var vehicleCode = "";
//				var categoryData = "";
//				var vehicleCategoryCodePicker = "";
				if(!localStorage.getItem('$state')) {
					plus.nativeUI.toast('登陆过期，请重新登陆！');
					return;
				}
				var username = JSON.parse(localStorage.getItem('$state')).username;
				var token = JSON.parse(localStorage.getItem('$state')).token;
				$.plusReady(function() {
					template.config('escape', false);
					
					window.addEventListener('showList', function(event) {
						oppoCode = event.detail.opporCode;
						type = event.detail.type;
						typeCode = event.detail.typeCode;
						name = event.detail.name;
						mobile = event.detail.mobile;
						var values = {oppoCode:oppoCode};
						console.log("quotation list request:"+JSON.stringify(values));
						$.ajax({
							url:serviceBaseUrl+"alpssalewebservices/quotaion/list",
							type:"POST",
							dataType:"json",
							contentType: 'application/json',
				            data: JSON.stringify(values),
				            beforeSend: function (xhr) {
							       xhr.setRequestHeader("Authorization","Bearer " + token);
							},
							success: function (data) {
								console.log(data)
								console.log("quotation list result:"+JSON.stringify(data));
								console.log("--------------------------------------------------------------");
								console.log(data.success);
								if(data.success){
									
									var quotationList = data.quotationList;
									if(quotationList.length>0){
										//追加模板消息 
										console.log("追加模板消息");
								        var str = template('content-template', { 
								            "quotationList": quotationList 
								        }); 
								        doc.getElementById('mui-content').innerHTML = str;
									}else{
										console.log("暂无报价");
										doc.getElementById('mui-content').innerHTML =  "暂无报价";
									}
								}
						    },
						    error: function(jqXHR, textStatus, errorThrown){
						    	console.log(jqXHR);
						    	console.log(textStatus);
						    	console.log(errorThrown);
						    	common.baseOption.goToLogin();
						    },
						    complete:function(){
						    	
						    }
						})
					});
				})


				doc.getElementById('add_quotation').addEventListener('tap', function() {
					//打开关于页面
					mui.fire(plus.webview.getWebviewById('opporFollow'), 'showTitle', {
						type: type,
						typeCode:typeCode,
						opporCode:oppoCode,
						name:name,
						mobile:mobile
					});
					//TODO 方便测试用，之后要放开
	//				打开相关页面
//					mui.openWindow({
//						id: 'opporFollow',//b页面id
//						url:'../opportunity/opportunity-follow.html',
//						show: {
//						    autoShow: true, //页面loaded事件发生后自动显示，默认为true
//							aniShow: "slide-in-right"
//						},
//					})
					//TODO 方便测试用，之后要注掉
					mui.openWindow({
						url: 'add-quotation.html',
						id: "add-quotation",//默认使用当前页面的url作为id
						extras: {
							oppoCode: oppoCode,
							name:name,
							mobile:mobile
						}, //自定义扩展参数
						createNew: false //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
					})
				})
					mui('#mui-content').on('tap','.mui-card', function() {
						console.log("quotationCode");
						var quotationCode = this.getAttribute("data-code");
						var creationtime = this.getAttribute("data-creationtime");
						console.log(quotationCode);
						console.log(creationtime);
						console.log(detailPage);
						if(!detailPage){
							detailPage = plus.webview.getWebviewById('quotationDetail');
						}
						//触发详情页面的show事件
						mui.fire(detailPage,'show',{
							quotationCode:quotationCode,
							creationtime:creationtime,
							oppoCode: oppoCode,
						});
						//打开详情页面          
						mui.openWindow({
							id: 'quotationDetail',
							show: {
								aniShow: 'pop-in'
							},
							waiting: {
								autoShow: false
							}
						});
					})
				
					

			}(mui, document));
		</script>
	</body>

</html>