.mui-card .mui-control-content {
	padding: 10px;
}
#segmentedControl {
	background: #FFFFFF;
	border-top: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	    /*z-index: 10000;*/
}
#segmentedControl a{
	font-size: 15px;	
	font-weight: bold;
	position:  relative;
}
#segmentedControl a.mui-active{
	color: #C71B1E;
	border-bottom: none;
	position: relative;
}
#segmentedControl a.mui-active::after{
	content: '';
	width: 36px;
	height: 4px;
	background-color:#C71B1E;
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 18px);
}
#segmentedControl a:last-of-type::before{
	content: '';
	width: 1px;
	height: 12px;
	position: absolute;
	border-left: 1px solid #CCCCCC;
	top: 12px;
	left: 0px;
}
#selectCar{
	background: #FFFFFF;
	/*z-index: 10000;*/
}
#selectCar a{
	font-size: 15px;
	font-weight: bold;
	color: #999999;
}
#selectCar a.mui-active{
	border-bottom: none;
	color: #212121 !important;
}
.luxury{
	padding: 20px 18px;
	position: relative;
}
.luxury > div.img{
	position: absolute;
	top: 0;
	left: 0;
	width: 44px;
	height: 20px;
	background: url(../../images/newProducts.png) no-repeat;
	background-size: 100% 100%;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
}
.luxury > div.cuxiao{
	background: url(../../images/promotion.png) no-repeat;
	background-size: 100% 100%;
}
.luxury .le0 > img{
	width: 120px;
	height: 120px;
	margin-right: 18px;
}
.luxury .ri0 p{
	margin-bottom: 0;
}
.luxury .ri0{
	width: calc(100% - 138px);
}
.luxury .ri0 .brand{
	font-size: 14px;
	color: #333333;
	text-align: justify;
	margin-bottom: 10px;
	word-break:normal;
	white-space:pre-warp;
	word-wrapL:break-word;
}
.luxury .ri0 .favour{
	margin-bottom: 18px;
}
.luxury .ri0 .favour span{
	font-size: 10px;
	color: #CE575A;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
	padding: 3px 10px;
	border: 1px solid #CE575A;
	border-radius: 6px;
}
.luxury .ri0 .favour span:last-of-type{
	color: #618DF6;
	border: 1px solid #618DF6;
}
.luxury .ri0 .currentPrice{
	margin-bottom: 11px;
}
.luxury .ri0 .currentPrice,
.luxury .ri0 .currentPrice span{
	line-height: 17px;
	font-size: 16px;
	color: #DD2F3E;
}
.luxury .ri0 .oldPrice{
	font-size: 12px;
	color: #999999;
	line-height: 14px;
	text-decoration: line-through;
}
.timeLimit{
	margin-bottom: -8px;
	padding: 8px 0 7px 18px;
	font-size: 12px;
	color: #CE575A;
	text-align: justify;
	line-height: 17px;
	background: #FFF4F4;
}
.plante{
	padding: 10px 20px 15px 20px !important;
	position: relative !important;
	white-space: inherit !important;
}
.plante .mark{
	font-size: 12px;
	color: #212121;
	position: absolute;
	right: 20px;
	top: 0px;
	padding: 6px;
	width: 27px;
	text-align: center;
	line-height: 15px;
	background: #E4E4E4;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}
.plante p{
	margin: 0;
}
.plante .p1{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 7px;
	line-height: 22px;
}
.plante .p2{
	font-size: 14px;
	color: #666666;
	text-align: justify;
	margin-bottom: 12px;
	line-height: 20px;
}
.plante .p3{
	font-size: 12px;
	color: #999999;
	text-align: justify;
}
#item2 .mui-card .mui-table-view li.mui-active{
	background: #FFFFFF;
}
#item2 .mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after,
#item2 .mui-card .mui-table-view li:after{
	display: none;
}
#item2 .mui-table-view-cell.mui-collapse.mui-active{
	margin-top: 0;
}
/*颜色*/
#item2 .inProgress > a{
	background: #febe22;
}
#item2 .inProgress > a p,#item2 .begining > a p{
	color: #FFFFFF;
}
#item2 .inProgress > a p.p3,#item2 .begining > a p.p3{
	color: rgba(255,255,255,0.75);
}
#item2 .begining > a{
	background: #618DF6;
}
#item2 .inProgress > a .mark{
	color: #febe22;
}
#item2 .begining > a .mark{
	color: #618DF6;
}
#item2 .inProgress > a .mark,#item2 .begining > a .mark{
	background: #FFFFFF;
}
/*进度条*/
.mui-demo-container {
	background-color: #fff;
	padding: 10px 0px;
	font-size: 12px;
	color: #3F3F3F;
}
.mui-demo-container label{
	display: inline-block;
	width: 56px;
	font-size: 14px;
	color: #212121;
	margin-right: 18px;
}
.mui-demo-container p.time{
	display: inline-block;
	font-size: 14px;
	color: #666666;	
}
.mui-demo-container h5{
	display: inline-block;
	font-size: 12px;
	color: #3F3F3F;
	float: right;
}
.mui-demo-container h5 span{
	float: none;
}
#progressing .mui-progressbar, #beginings .mui-progressbar,#ends .mui-progressbar{
	width: calc(110% - 180px);
	height: 4px;
	display: inline-block;
}







.planteDetail{
	padding: 8px 20px !important;
}
.planteDetail .mui-demo-container .mui-progressbar{
	background: #E4E4E4;
}
.inProgress .planteDetail .mui-demo-container .mui-progressbar span {
	background-color: #FEBE22;
}
.inProgress .planteDetail .mui-demo-container h5 span{
	color: #FEBE22;
}
.begining .planteDetail .mui-demo-container .mui-progressbar span {
	background-color: #618DF6;
}
.begining .planteDetail .mui-demo-container h5 span{
	color: #618DF6;
}
.ending .planteDetail .mui-demo-container .mui-progressbar span {
	background-color: #999999;
}
.ending .planteDetail .mui-demo-container h5 span{
	color: #212121;
}
/*选择品牌车型车系*/



