	/**弹窗层蒙版**/
		.boxshaow,
		.tipshaow {
		    position: fixed;
		    left: 0;
		    top: 0;
		    z-index: 20;
		    width: 100%;
		    height: 100%;
		    background: #131313;
		    opacity: 0.5;
		    filter: alpha(opacity=50);
		}		
		/**弹窗层蒙版**/

		.all>div.row{
			width: 100%; 
			height: 100%;
			padding: 15px 0 15px 15px;
			margin-left: -10px;
		}
		.logs {
			position: fixed;
			z-index: 30;
			left: 50%;
			top: 50%;	
			height: auto;
			background-color: #fff;
			border-radius: 4px;
			z-index: 10000000;
		}
		.logs > p{
			margin: 15px 0 0 15px;
			color: #000000;
			font-weight: bold;
			font-size: 20px;
		}
		.logs > a {
			position: absolute;
			right: 0;
			top: 0;
			display: block;
			width: 50px;
			height: 50px;
			background: url(../../img/tipBindClose.png) center no-repeat;
		}
		.logs .log > div >div p:nth-of-type(1){
			font-size: 16px;
			text-align: center;
		}
		.logs .log > div.top >div p:nth-of-type(2){
			width: 100%;
			border: 1px solid #999999;
			padding: 8px;
			border-radius: 4px;
			word-wrap: break-word;
		}
		.logs .log  .middle1 > div p:nth-of-type(2),
		.logs .log  .middle2 > div p:nth-of-type(2){
			border: 1px solid #999;
			padding: 8px;
			border-radius: 4px;
			word-wrap: break-word;
			max-height: 200px;
			overflow-y: scroll;
			text-align: justify;
		}
		@media only screen and (min-width: 1200px) {
			.logs .log  .middle1 > div p:nth-of-type(2),
			.logs .log  .middle2 > div p:nth-of-type(2){
				max-height:400px;
			}
		}