<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link href="../../css/reset.css" rel="stylesheet" />
		<link href="../../css/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/order/order.css"/>
		<style>
			.mui-btn-fail{
				font-size: 18px;
				display: block;
				width: 90%;
				margin: 10px auto;
				color: #fff;
				border: 1px solid rgba(0,0,0,0.50);
				background-color: rgba(0,0,0,0.50);
				text-align: center;
				margin-left: 5%!important;
				height: 45px;
				line-height: 15px;
				padding: 15px auto;
				border-radius: 2px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-icon mui-icon-search mui-pull-right"></a>
			<h1 class="mui-title" id="mui-title">增值订单-客户列表</h1>
		</header>
		<div class="mui-content orderList customerList" id="customerList">
			<script id='msg-template' type="text/template">
			<% for(var i in customerList){ var item=customerList[i]; %>
				<div class="mui-card">
					<div class="mui-card-header">
						客户编号 <%= item.uid||''%> 
						<input type="radio" name="customerUid" data-uid="<%= item.uid||''%>"  />
						
					</div>
					<div class="mui-card-content">
						<p class="clearfix"><span>客户姓名</span><span><%= item.name||''%></span></p>
						<p class="clearfix"><span>客户性质</span><span><%= item.customerType||''%></span></p>
						<p class="clearfix"><span>客户类型</span><span><%= item.attribute||''%></span></p>
						<p class="clearfix"><span>联系方式</span><span><%= item.mobileNumber||''%></span></p>
						<p class="clearfix"><span>创建时间</span><span><%= item.creationtime||''%></span></p>
					</div>
				</div>
				
			<% } %>
			</script>
				<button type="button" id="createCustomer" class="mui-btn mui-btn-fail mui-btn-block ">
					您查找的客户不存在？去新建
				</button>
		</div>
		
		<footer class="mui-bar mui-bar-tab">
		    <a class="mui-tab-item mui-action-back mui-active" id="cancelOrder" href="#">上一步</a>
		    <a class="mui-tab-item" id="nextStep" href="#">下一步</a>
		</footer>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/common/arttmpl.js"></script>
		<script type="text/javascript">
			(function($, doc) {
				$.init();

				var aniShow = "pop-in";
				//只有ios支持的功能需要在Android平台隐藏；
				if(mui.os.android) {
					var list = document.querySelectorAll('.ios-only');
					if(list) {
						for(var i = 0; i < list.length; i++) {
							list[i].style.display = 'none';
						}
					}
					//Android平台暂时使用slide-in-right动画
					if(parseFloat(mui.os.version) < 4.4) {
						aniShow = "slide-in-right";
					}
				}
				template.config('escape', false);
				$.plusReady(function() {
					//关闭等待框
					plus.nativeUI.closeWaiting();
					//显示当前页面
					//获取父级页面查询过来的参数
					var self = plus.webview.currentWebview();
					var customerList = self.customerList;
					doc.getElementById('customerList').innerHTML = doc.getElementById('customerList').innerHTML + template('msg-template', {
						"customerList": customerList
					});	
					document.getElementById('createCustomer').addEventListener('tap',function(){
						console.log(111);
						mui.openWindow({
							id: 'createCustomer',//b页面id
							url:'create_customer.html'
						})
					})
					
					document.getElementById('nextStep').addEventListener('tap',function(){
						var radioIsChecked = document.body.querySelector('input[type=radio]:checked');
						if(!radioIsChecked){
							plus.nativeUI.toast("请选择客户！");
							return;
						}
						var customerUid = document.body.querySelector('input[type=radio]:checked').getAttribute("data-uid");
						console.log(customerUid);
						//TODO 存储选中的客户id
						localStorage.setItem("customerId",customerUid);
						mui.openWindow({
							id: 'searchCar',//b页面id
							url:'incrementOrder_search_car.html',
							show: {
								autoShow: true, //页面loaded事件发生后自动显示，默认为true
								aniShow: "slide-in-right"
							}
						})
					})
				})
				
				
				
				
				

			}(mui, document));
		</script>
	</body>

</html>