<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link href="../../css/reset.css" rel="stylesheet" />
		<link href="../../css/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/order/order.css" />
		<style>
			.mui-btn-fail {
				font-size: 18px;
				display: block;
				width: 90%;
				margin: 10px auto;
				color: #fff;
				border: 1px solid rgba(0, 0, 0, 0.50);
				background-color: rgba(0, 0, 0, 0.50);
				text-align: center;
				margin-left: 5%!important;
				height: 45px;
				line-height: 15px;
				padding: 15px auto;
				border-radius: 2px;
			}
			
			html,
			body {
				background-color: #efeff4;
			}
			
			p {
				text-indent: 22px;
			}
			
			span.mui-icon {
				font-size: 14px;
				color: #007aff;
				margin-left: -15px;
				padding-right: 10px;
			}
			
			.mui-off-canvas-right {
				color: #fff;
				background: #ffffff;
				width: 80%;
			}
			
			.title {
				margin: 35px 15px 10px;
			}
			
			.title+.content {
				margin: 10px 15px 35px;
				color: #bbb;
				text-indent: 1em;
				font-size: 14px;
				line-height: 24px;
			}
			
			input {
				color: #000;
			}
			
			.seek {
				padding: 7px 0px!important;
			}
			
			#offCanvasSideScroll .mui-table-view-cell:after {
				height: 0px!important;
			}
			
			#offCanvasSideScroll label {
				color: #333333;
			}
			#customerSearchBtn{
				margin-left: 15px;
			}
		</style>
	</head>

	<body>

		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-right">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper orderSearch orderSearchValueAdd">
					<div class="mui-scroll">
						<div class="mui-card ">
							<div class="mui-card-header">搜索车辆</div>
							<ul class="mui-table-view mui-table-view-chevron">
								<li class="mui-table-view-cell">
									<label>车架号</label>
									<p class="sel">
										<input type="text" id="code" placeholder="请输入车架号"/>
									</p>
								</li>
								<li class="mui-table-view-cell">
									<label>车牌号</label>
									<p class="sel">
										<input type="text" id="licensePlateNumber" placeholder="请输入车牌号"/>
									</p>
								</li>
								<li class="mui-table-view-cell">
									<label>创建时间</label>
									<div class="tab">
											<ul class="mui-table-view mui-table-view-radio beforetimeKey-select">
												<li class="mui-table-view-cell mui-selected" data-beforetimeKey="">
													<a class="mui-navigate-right">所有</a>
												</li>
												<li class="mui-table-view-cell" data-beforetimeKey="type1">
													<a class="mui-navigate-right">一个月</a>
												</li>
												<li class="mui-table-view-cell" data-beforetimeKey="type2">
													<a class="mui-navigate-right">二个月</a>
												</li>
												<li class="mui-table-view-cell" data-beforetimeKey="type2">
													<a class="mui-navigate-right" >三个月</a>
												</li>
												<li class="mui-table-view-cell" data-beforetimeKey="type2">
													<a class="mui-navigate-right">六个月</a>
												</li>
												<li class="mui-table-view-cell" data-beforetimeKey="type2">
													<a class="mui-navigate-right">一年</a>
												</li>
											</ul>
										</div>
								</li>
							</ul>	
							<div class="mui-button-row">
								<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined btn-cancel" id="customerSearchCancelBtn">取消</button>
								<button type="button" class="mui-btn mui-btn-danger btn-save" id="customerSearchBtn">搜索</button>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<div class="mui-inner-wrap">

				<header class="mui-bar mui-bar-nav">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<a id="offCanvasBtn" href="#offCanvasSide" class="mui-icon mui-icon-search mui-pull-right"></a>
					<!--<a id="offCanvasBtn" href="#" class="mui-icon mui-icon-search mui-pull-right"></a>-->
					
					<h1 class="mui-title" id="mui-title">增值订单-车辆列表</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper orderList customerList">
					
					<div class="mui-scroll">
						<button type="button" id="createCar" class="mui-btn mui-btn-fail mui-btn-block mui-hidden">
							您查找的车辆不存在？去新建
						</button>
						<div id="vehicleList" class="offCanvasList">
							
							<script id='msg-template' type="text/template">
								<% for(var i in vehicleList){ var item=vehicleList[i]; %>
								<div class="mui-card">
									<div class="mui-card-header">
										车辆编号
										<%= item.code||''%>
										<input type="radio" name="code" data-car="<%= item %>" data-code="<%= item.code||''%>" />
				
									</div>
									<div class="mui-card-content">
										<p class="clearfix"><span>车牌号</span><span><%= item.licensePlateNumber||''%></span></p>
										<p class="clearfix"><span>车架号</span><span><%= item.vinNumber||''%></span></p>
										<p class="clearfix"><span>车主姓名</span><span><%= item.customerName||''%></span></p>
										<p class="clearfix"><span>联系方式</span><span><%= item.customerMobileNumber||''%></span></p>
										<p class="clearfix"><span>创建时间</span><span><%= item.creationtime||''%></span></p>
									</div>
								</div>
	
								<% } %>
							</script>
						</div>	
					</div>
				</div>
				<footer class="mui-bar mui-bar-tab" id="footer">
					<a class="mui-tab-item mui-action-back mui-active" id="cancelOrder" href="#">上一步</a>
					<a class="mui-tab-item" id="nextStep" href="#">下一步</a>
				</footer>
				<div class="mui-off-canvas-backdrop"></div>
			</div>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/common/arttmpl.js"></script>
		<script src="../../js/order/increment-order.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			(function($, doc) {
				$.init({
//					beforeback: function(){
//			            plus.webview.currentWebview().hide();
//			            //返回true，继续页面关闭逻辑
//			            return true;
//			        }
				});

				var aniShow = "pop-in";
				//只有ios支持的功能需要在Android平台隐藏；
				if(mui.os.android) {
					var list = document.querySelectorAll('.ios-only');
					if(list) {
						for(var i = 0; i < list.length; i++) {
							list[i].style.display = 'none';
						}
					}
					//Android平台暂时使用slide-in-right动画
					if(parseFloat(mui.os.version) < 4.4) {
						aniShow = "slide-in-right";
					}
				}

				//侧滑容器父节点
				var offCanvasWrapper = mui('#offCanvasWrapper');
				//主界面容器
				var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap');
				//菜单容器
				var offCanvasSide = document.getElementById("offCanvasSide");
				//Android暂不支持整体移动动画
				if(!mui.os.android) {
					var spans = document.querySelectorAll('.android-only');
					for(var i = 0, len = spans.length; i < len; i++) {
						spans[i].style.display = "none";
					}
				}
				//移动效果是否为整体移动
				var moveTogether = false;
				//侧滑容器的class列表，增加.mui-slide-in即可实现菜单移动、主界面不动的效果；
				var classList = offCanvasWrapper[0].classList;
//				document.getElementById('offCanvasBtn').addEventListener('tap', function() {
//					offCanvasWrapper.offCanvas('show');
//				});
				document.getElementById('customerSearchBtn').addEventListener('tap', function() {
					showCarList();
					offCanvasWrapper.offCanvas('close');
					
				});
				document.getElementById('customerSearchCancelBtn').addEventListener('tap', function() {
					offCanvasWrapper.offCanvas('close');
				});
				//主界面和侧滑菜单界面均支持区域滚动；
				mui('#offCanvasSideScroll').scroll();
				mui('#offCanvasContentScroll').scroll();
				//实现ios平台的侧滑关闭页面；
				if(mui.os.plus && mui.os.ios) {
					offCanvasWrapper[0].addEventListener('shown', function(e) { //菜单显示完成事件
						plus.webview.currentWebview().setStyle({
							'popGesture': 'none'
						});
					});
					offCanvasWrapper[0].addEventListener('hidden', function(e) { //菜单关闭完成事件
						plus.webview.currentWebview().setStyle({
							'popGesture': 'close'
						});
					});
				}

				template.config('escape', false);
				$.plusReady(function() {
					//关闭等待框
					plus.nativeUI.closeWaiting();
					//显示当前页面
					//获取父级页面查询过来的参数
					showCarList();
					document.getElementById('nextStep').addEventListener('tap', function() {
						var radioIsChecked = document.body.querySelector('input[type=radio]:checked');
						if(!radioIsChecked) {
							plus.nativeUI.toast("请选择车辆！");
							return;
						}
						var carCode = document.body.querySelector('input[type=radio]:checked').getAttribute("data-code");
						console.log(carCode);
						//TODO 存储选中的客户id
						localStorage.setItem("carCode", carCode);
						mui.openWindow({
							id: 'createIncrement', //b页面id
							url: 'create_incrementOrder.html',
							show: {
								autoShow: true, //页面loaded事件发生后自动显示，默认为true
								aniShow: "slide-in-right"
							}
						})
					})
					
					
				})
				function showCarList(){
					var beforetimeKey = document.body.querySelector('li .mui-selected').getAttribute("data-beforetimeKey");
					console.log(beforetimeKey);
					var params = {
						code:document.getElementById('code').value,
						licensePlateNumber:document.getElementById('licensePlateNumber').value,
						beforetimeKey:beforetimeKey
						
					}
					increment.searchCar(params,function(data){
						console.log("search car result:"+JSON.stringify(data));
						console.log("--------------------------------------------------------------");
					
						if(data.success==true){
							mui('#offCanvasContentScroll').scroll().scrollTo(0,0);
							var vehicleList = data.vehicleList;
							if(!vehicleList){
								document.getElementById('createCar').classList.remove('mui-hidden');
								doc.getElementById('vehicleList').innerHTML = '';
								doc.getElementById('footer').classList.add('mui-hidden');
								document.getElementById('offCanvasContentScroll').setAttribute('style','margin-bottom:0px!important');
								
//								plus.nativeUI.toast('您查找的车辆不存在，请重新输入查询条件！')
//								return;
							}else{
								document.getElementById('createCar').classList.add('mui-hidden');
								doc.getElementById('footer').classList.remove('mui-hidden');
								doc.getElementById('vehicleList').innerHTML = template('msg-template', {
									"vehicleList": vehicleList
								});
								document.getElementById('offCanvasContentScroll').removeAttribute('style');
							}
						}
					})
				}
				document.getElementById('createCar').addEventListener('tap', function() {
					console.log(111);
					mui.openWindow({
						id: 'createCar', //b页面id
						url: 'create_car.html'
					})
				})

			}(mui, document));
		</script>
	</body>

</html>