<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link href="../../css/reset.css" rel="stylesheet" />
		<link href="../../css/style.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/order/order.css"/>
	</head>
	<body>
		<!--下拉刷新容器-->
		<div class="mui-content orderList">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
	                <div class="mui-scroll">
	                    <a class="mui-control-item mui-active" data-index="0" data-orderType='wholeVehicle'>整车订单</a>
	                    <a class="mui-control-item" data-index="1"  data-orderType='increment'>增值订单</a>
	                    <a class="mui-control-item" data-index="2">全部</a>
	                </div>
	            </div>
				<div class="mui-slider-group">
					 <div class="mui-slider-item mui-control-content">
	                    <div id="pullrefresh" class="mui-scroll-wrapper">	                    	
	                        <div class="mui-scroll" >
	                        	<script id='content-template' type="text/template">
									<% for(var i in contentList){ var item=contentList[i]; %>
									
									<% } %>
								</script>
	                        	<div class="mui-card">
									<div class="mui-card-header">
										订单编号KL092034
									</div>
									<div class="mui-card-content">
										<p class="clearfix"><span>姓名</span><span>李小姐 女</span></p>
										<p class="clearfix"><span>电话</span><span>15236730000</span></p>
										<p class="clearfix"><span>品牌</span><span>奥迪A6</span></p>
										<p class="clearfix"><span>车系</span><span>A4L</span></p>
										<p class="clearfix"><span>车型</span><span>2018-40TFSI运动型-369800</span></p>
										<p class="clearfix"><span>订单类型</span><span class="reds">整车-零售订单</span></p>
										<p class="clearfix"><span>订单状态</span><span>已创建</span></p>
										<p class="clearfix"><span>财务状态</span><span>未收款</span></p>
										<p class="clearfix"><span>车辆状态</span><span>待预留</span></p>
										<p class="clearfix"><span>业务状态</span><span>订单未提交</span></p>
										<p class="clearfix"><span>订单金额</span><span class="reds">298.3万</span></p>
										<p class="clearfix"><span>跟新日期</span><span>2018-06-02 16:27:13</span></p>
									</div>
								</div>
								
								<div class="mui-card">
									<div class="mui-card-header">
										订单编号KL092034
									</div>
									<div class="mui-card-content">
										<p class="clearfix"><span>姓名</span><span>李小姐 女</span></p>
										<p class="clearfix"><span>电话</span><span>15236730000</span></p>
										<p class="clearfix"><span>品牌</span><span>奥迪A6</span></p>
										<p class="clearfix"><span>车系</span><span>A4L</span></p>
										<p class="clearfix"><span>车型</span><span>2018-40TFSI运动型-369800</span></p>
										<p class="clearfix"><span>订单类型</span><span class="reds">整车-零售订单</span></p>
										<p class="clearfix"><span>订单状态</span><span>已创建</span></p>
										<p class="clearfix"><span>财务状态</span><span>未收款</span></p>
										<p class="clearfix"><span>车辆状态</span><span>待预留</span></p>
										<p class="clearfix"><span>业务状态</span><span>订单未提交</span></p>
										<p class="clearfix"><span>订单金额</span><span class="reds">298.3万</span></p>
										<p class="clearfix"><span>跟新日期</span><span>2018-06-02 16:27:13</span></p>
									</div>
								</div>
								
	                        </div>
	                    </div>
	                </div>
	                <div class="mui-slider-item mui-control-content">
	                    <div class="mui-scroll-wrapper">
	                        <div class="mui-scroll">
	                        	<div class="mui-card">
									<div class="mui-card-header">
										订单编号KL092034
									</div>
									<div class="mui-card-content">
										<p class="clearfix"><span>姓名</span><span>李小姐 女</span></p>
										<p class="clearfix"><span>电话</span><span>15236730000</span></p>
										<p class="clearfix"><span>订单类型</span><span class="reds">整车-零售订单</span></p>
										<p class="clearfix"><span>订单状态</span><span>已创建</span></p>
										<p class="clearfix"><span>财务状态</span><span>未收款</span></p>
										<p class="clearfix"><span>订单金额</span><span class="reds">298.3万</span></p>
										<p class="clearfix"><span>跟新日期</span><span>2018-06-02 16:27:13</span></p>
									</div>
								</div>
	                        </div>
	                    </div>
	                </div>
	                <div class="mui-slider-item mui-control-content">
	                    <div class="mui-scroll-wrapper">
	                        <div class="mui-scroll">
	                        	<div class="mui-card">
									<div class="mui-card-header">
										订单编号KL092034
									</div>
									<div class="mui-card-content">
										<p class="clearfix"><span>姓名</span><span>李小姐 女</span></p>
										<p class="clearfix"><span>电话</span><span>15236730000</span></p>
										<p class="clearfix"><span>订单类型</span><span class="reds">整车-零售订单</span></p>
										<p class="clearfix"><span>订单状态</span><span>已创建</span></p>
										<p class="clearfix"><span>财务状态</span><span>未收款</span></p>
										<p class="clearfix"><span>订单金额</span><span class="reds">298.3万</span></p>
										<p class="clearfix"><span>跟新日期</span><span>2018-06-02 16:27:13</span></p>
									</div>
								</div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/order/order.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/arttmpl.js"></script>
		<script>
			mui.init({
				swipeBack: false,
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						contentdown : "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
			            contentover : "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
			            contentrefresh : "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
						callback: pulldownRefresh
					},
					up: {
						auto:true,
						contentrefresh: '正在加载...',
						contentnomore:'没有更多数据了',
						callback: pullupRefresh
					}
				}
			});
			template.config('escape', false);
			var count = 0;
			var orderList = null;
			var orderType = '';
			function pullupRefresh() {
				
				setTimeout(function() {
					var params = {
						currentPage:0,
						pagesize:10,
						orderType:orderType
					}
					console.log("订单列表");
					order.qryOrderList(params,function(data) {
						console.log(data);
						var data = JSON.parse(data);
						console.log(data);
						
						console.log("订单列表data.success"+data.success);
						if(data.success) {
							orderList = data.orderList;
							console.log(orderList);
							var str = template('content-template', { 
						            "contentList": orderList,
						        }); 
							
							
						}else {
							
							plus.nativeUI.toast(data.error);
						}
					});
					
						mui('#pullrefresh').pullRefresh().refresh(true);
						
						mui('#pullrefresh').pullRefresh().endPullupToRefresh();
						
				}, 500);
			}
			function pulldownRefresh() {
				
				setTimeout(function() {
					var params = {
						currentPage:0,
						pagesize:10,
						orderType:orderType
					}
					order.qryOrderList(params,function(data) {
//						var data = JSON.parse(data);
						console.log(data);
						if(data.success) {
							orderList = data.orderList;
							console.log(orderList);
							
						}else {
							plus.nativeUI.toast(data.error);
						}
					});
					
						mui('#pullrefresh').pullRefresh().refresh(true);
						
						mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
						
				}, 500);
			}
			
			var itemIndex = 0;
			mui.ready(function() {
		        mui('.mui-scroll-wrapper').scroll({
		            bounce: true,
		            indicators: true,
		            deceleration:mui.os.ios?0.003:0.0009
		        });
		        mui('.mui-scroll').on('tap','.mui-control-item:not(.mui-active)',function(){
		        	itemIndex = this.getAttribute('data-index');
		        	orderType = this.getAttribute('data-orderType');
		        	
		            mui('.mui-slider').slider().gotoItem(this.getAttribute('data-index'));
		        });
		    });
		    function showOrderDetail(){
				mui('.mui-scroll-wrapper').on('tap', '.mui-card', function() {
					var orderCode = this.getAttribute("data-orderCode");
					console.log(orderCode);
					//打开详情页面          
					mui.openWindow({
						id: 'orderDetail',
						url:'opportunity-detail.html',
						extras:{
					      orderCode:orderCode//自定义扩展参数，可以用来处理页面间传值
					    },
						show: {
							aniShow: 'pop-in'
						},
						waiting: {
							autoShow: false
						}
					});
				})
		    }
		    
		</script>
	</body>

</html>